<div class="twelve columns text-center">
  <h1><img class="logo" src="/img/logo.png">Spring Forward Events Planner!</h1>
  <h5>Keep track of all the awesome events you are attending as part of <a href="http://www.wespringforward.com" target="_blank">Spring Forward Festival</a></h5>
  <br>
  <%= link_to 'Add new event', new_event_path, class: 'button success button round' %>
  <% if @anything_to_show %>
    <%=  render 'table' %>
  <% end %>
</div>