<h1>Spring Forward Events Planner!</h1>
<a href="#" class="button success">Add new event</a>
<table>
  <thead>
    <tr>
      <th width="200">Event name</th>
      <th>Venue</th>
      <th width="150">Date</th>
      <th width="150">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>