<div class="twelve columns text-center">
<h1><img src="/img/logo.png">Spring Forward Events Planner!</h1>
<br>
<%= link_to 'Add new event', new_event_path, class: 'button success button round' %>
<% if @anything_to_show %>
  <%=  render 'table' %>
<% end %>
</div>